[submodule "packages/common/.vim/colors/gruvbox"]
	path = packages/common/.vim/colors/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "packages/common/.config/zsh/plugins/zsh-syntax-highlighting"]
	path = packages/common/.config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "packages/common/.config/zsh/plugins/zsh-autosuggestions"]
	path = packages/common/.config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "packages/common/.config/zsh/plugins/zsh-vi-mode"]
	path = packages/common/.config/zsh/plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
