/* -----------------------------------------------------
 * Import Pywal colors 
 * ----------------------------------------------------- */

@import url("./theme.css");

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Hack Nerd Font", "JetBrainsMono Nerd Font",
    "Material Design Icons";
  font-size: 12px;
  font-weight: bold;
}

/* ----------------------------------------------------- 
 * Window
 * ----------------------------------------------------- */

window#waybar {
  background-color: transparent;
  border-bottom: 0px solid #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#window {
  color: @pink;
  background: @base;
  transition-property: background-color;
  border-radius: 100px;
  padding: 0 10px;
  margin-right: 10px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: @base;
  margin: 5px 1px 6px 1px;
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: @foreground;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @base;
  background: @foreground;
  border-radius: 15px;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  color: @base;
  background: @foreground;
  border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background-color: @base;
  opacity: 0.8;
  padding: 20px;
  margin: 0px;
}

tooltip label {
  color: @foreground;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
  background: @backgroundlight;
  margin: 6px 15px 6px 0px;
  padding: 0px;
  border-radius: 15px;
  font-weight: normal;
  font-style: normal;
  border: 3px solid @backgroundlight;
}

#taskbar button {
  margin: 0;
  border-radius: 15px;
  padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#tray {
  color: @foreground;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @base;
}

#tray * {
  background: @base;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

#mode {
  background: @base;
  box-shadow: none;
  text-shadow: none;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#tray,
#mode,
#scratchpad,
#mpd,
#language,
#keyboard-state,
#time,
#power,
#hardware,
#controls,
#custom-media {
  padding: 0 18px;
  background-color: @base;
  border-radius: 100px;
}

#bluetooth,
#idle_inhibitor,
#custom-weather {
  padding-right: 18px;
}

#clock,
#temperature,
#language,
#custom-weather,
#keyboard-state,
#battery.charging,
#battery.plugged {
  color: @orange;
  min-width: 16px;
}

#window,
#workspaces {
  margin: 0 5px;
}

#mpd,
#cpu,
#disk,
#memory,
#battery,
#temperature,
#custom-media,
#custom-media.custom-vlc,
#custom-media.custom-spotify {
  color: @purple;
}

#pulseaudio,
#wireplumber,
#bluetooth,
#scratchpad.empty {
  color: @cyan;
}

#backlight,
#scratchpad,
#idle_inhibitor,
#custom-power,
#mpd.paused {
  color: @yellow;
}

#network {
  color: @pink;
}

label:focus {
  color: @foreground;
}

#pulseaudio.muted,
#wireplumber.muted,
#keyboard-state > label.locked,
#mpd.stopped,
#network.disconnected {
  color: @red;
}

#idle_inhibitor.activated {
  /* background-color: @red; */
  box-shadow: inset 0px 0px 0px 3px @base;
  color: @red;
}

#mpd.disconnected {
  background-color: @red;
  color: @base;
  box-shadow: inset 0px 0px 0px 3px @base;
}

#temperature.critical {
  color: @base;
  background: @red;
  box-shadow: inset 0px 0px 0px 3px @base;
}

#battery.critical:not(.charging) {
  background-color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @base;
    color: #000000;
  }
}
